<div class="col s12 m8 l4 flexItem">
  <table class="details">
    <tbody>
      <tr>
        <td class="strong">Name:</td>
        <td>{{ person.firstName }} {{ person.lastName }}</td>
      </tr>
      <tr>
        <td class="strong">Company:</td>
        <td>{{ person.company }}</td>
      </tr>
      <tr>
        <td class="strong">Title</td>
        <td>{{ person.title }}</td>
      </tr>
      <tr>
        <td class="strong">Department:</td>
        <td>{{ person.department}}</td>
      </tr>
    </tbody>
  </table>
</div>
